<!DOCTYPE html>
<html>
<head>
  <title>BandHub</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Krona+One|Numans' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="jquery.pageslide.css">
  <script type="text/javascript">
    $('#hamburger').pageslide();
  </script>
</head>

  <div class="topbar">
    <div class="title">
      <p class="nav_title">BandHub</p>
    </div>

    <div class="main_search">
      <div class="searchbar_and_button">
        <input id="search_bands" type="text" placeholder="Enter your favorite band..." class="search_bar"/>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <button id="bigDaddySearch">Search!</button>
      </div>
    </div>

     <div class="devise">
      <% if user_signed_in? %>
        You're BandHubbing as <strong><%= current_user.username.capitalize %></strong><br>
      Not you? &nbsp;<%= link_to "Logout ", destroy_user_session_path, method: :delete %> &nbsp;|&nbsp;
      <%= link_to 'Edit profile', edit_user_registration_path %>
        <% else %>
      <%= link_to "Sign up", new_user_registration_path %> &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Login", new_user_session_path %><br>
      <%= link_to( image_tag("sign-in-twitter.png"), user_omniauth_authorize_path(:twitter) ) %>
      <% end %>
    </div>
  </div>

<header>
</header>
<body>

  <!-- to only show the hamburger to users logged in -->
  <div style="visibility: <%= current_user == nil ? "hidden" : "visible" %>">
    <a class="impatient" href="#secondary"><i id="hamburger" class="fa fa-bars fa-3x"></i></a>
  </div>

  <!-- the sidebar slider -->
  <div id="secondary">
    <img class="horns" title="Close all your open bands in the Corral" src="assets/horns.png">
    <button id='see_favorites'>View Your BandHub Corral</button>
    <div class="pageslide_links">
      <p class="stc">Sort the Corral:</p>
      <ul id="sort_by" >
        <li><a href="#data-name">By name</a></li>  <!-- for the sorting fn in isotopeCalls.js -->
        <li><a href="#data-date">By date added</a></li>
      </ul>
    </div>
    <div class="api_attributes" style="margin-top: 20px">
      <a href="http://the.echonest.com/"><img class="echonest_link" src="assets/echonest_banner.png"></a>
      <a href="http://www.songkick.com/"><img class="songkick_link" src="assets/songkick_logo.png"></a>
      <hr>
      <div class="bio">
        <p>Site created by</p>
        <p>Nico Crisafulli &copy; 2013</p>
        <a href="https://github.com/panicbus"><i class="fa fa-github-alt fa-lg"></i></a> &nbsp;&nbsp;| &nbsp;&nbsp;
        <a href="https://twitter.com/10TimesOne"><i class="fa fa-twitter fa-lg"></i></a> &nbsp;&nbsp;| &nbsp;&nbsp;
        <a href="mailto:nicocrisafulli@gmail.com?Subject=BandHub%20rocks" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
        <a href="#"><p style="font-size: 18px; margin-top: 8px">About BandHub</p></a>
      </div>
    </div>

    <div class="devise2"> <!-- displayed in sidebar on mobile device media query -->
      <% if user_signed_in? %>
        You're BandHubbing as <strong><%= current_user.username.capitalize %></strong><br>
      Not you? &nbsp;<%= link_to "Logout ", destroy_user_session_path, method: :delete %>
        <% else %>
      <%= link_to "Sign up", new_user_registration_path %> &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Login", new_user_session_path %>
      <%= link_to( image_tag("sign-in-twitter.png"), user_omniauth_authorize_path(:twitter) ) %>
      <% end %>
    </div>
  </div>


  <div id="container" class="container">

  <div id="bands_results">
    <% if current_user %>
      <img class="concert" src="assets/concert.png">
    <% end %>
      <p class="subtitle">All Your Bands, In One Place</p><br>
  </div>

      <%= yield %>

  </div>

  <!-- Pageslide scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="assets/jquery.pageslide.min.js"></script>
  <script>
      $(document).ready(function() {
          $(".open, .impatient").pageslide();
      });
  </script>
</body>
</html>
