<!DOCTYPE html>
<html>
<head>
  <title>BandHub</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One|Seymour+One|Average+Sans|New+Rocker|Coustard|Maiden+Orange|Short+Stack|Paytone+One|Cagliostro|Exo+2|Varela+Round|Amatic+SC|Text+Me+One|Imprima|Krona+One|Comfortaa|Faster+One|Miltonian+Tattoo|Numans|Autour+One' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

  <div class="topbar">
    <div class="title">
      <img style="visibility: <%= current_user == nil ? "hidden" : "visible" %>" class="horns" src="assets/horns.png">
      <p class="nav_title">BandHub</p>
    </div>
      <!-- <div class="see_favorites_button_div"> -->
        <button style="visibility: <%= current_user == nil ? "hidden" : "visible" %>" id='see_favorites'>View Your BandHub Corral</button>
      <!-- </div> -->

     <div class="devise">
      <% if user_signed_in? %>
        You're BandHubbing as <strong><%= current_user.username.capitalize %></strong><br>
      Not you? &nbsp;<%= link_to "Logout ", destroy_user_session_path, method: :delete %> &nbsp;|&nbsp;
      <%= link_to 'Edit profile', edit_user_registration_path %>
        <% else %>
      <%= link_to "Sign up", new_user_registration_path %> &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Login", new_user_session_path %>
      <%= link_to( image_tag("sign-in-twitter.png"), user_omniauth_authorize_path(:twitter) ) %>
      <% end %>
    </div>
  </div>

<header>
</header>
<body>
  <div class="main_search">
    <p class="title">BandHub</p>
    <div class="searchbar_and_button">
      <input id="search_bands" type="text" placeholder="Enter your favorite band..." class="search_bar"/>
      <!-- <div class="search_button_div"> -->
        <button id="bigDaddySearch">Search!</button>
      <!-- </div> -->
    </div>
  </div>

  <div class="container">
  <p class="notice"><%= flash[:notice] %></p>
  <p class="alert"><%= flash[:alert] %></p>
  <div id="bands_results">

  </div>
    <%= yield %>

  </div>

</body>
</html>
