<!DOCTYPE html>
<html>
<head>
  <title>BandHub</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" /> -->
   <script src="js/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Krona+One|Numans|Raleway:200' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="jquery.pageslide.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <script src="assets/masonry.pkgd.min.js"></script> <!-- look at this path to make work -->
  <script type="text/javascript">
    $('#hamburger').pageslide();
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48329636-5', 'bandhub.herokuapp.com');
    ga('send', 'pageview');
  </script>
</head>



<header>
</header>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="title">
          <a class="navbar-brand nav_title" href="#">Bandhub</a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <form class="navbar-form navbar-left main_search" role="search">
          <div class="form-group">
            <input id="search_bands" type="text" class="form-control search_bar" placeholder="Start here: enter your favorite band">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          </div>
          <button type="submit" id="bigDaddySearch" class="btn btn-default">Search!</button>
        </form>

        <ul class="nav navbar-nav navbar-right">

          <div class="devise">
            <% if user_signed_in? %>
              You're BandHubbing as <strong><%= current_user.username.capitalize %></strong><br>
            Not you? &nbsp;<%= link_to "Logout ", destroy_user_session_path, method: :delete %> &nbsp;|&nbsp;
            <%= link_to 'Edit profile', edit_user_registration_path %>
              <% else %>
            <%= link_to "Sign up", new_user_registration_path %> &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to "Login", new_user_session_path %><br>
            <%= link_to( image_tag("sign-in-twitter.png"), user_omniauth_authorize_path(:twitter) ) %>
            <% end %>
          </div>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>





  <!-- to only show the hamburger to users logged in -->
  <div style="visibility: <%= current_user == nil ? "hidden" : "visible" %>">
    <a class="impatient" href="#secondary"><i id="hamburger" class="fa fa-bars fa-3x"></i></a>
  </div>

  <!-- the sidebar slider -->
  <div id="secondary">
    <img class="horns" title="Close all your open bands in the Corral" src="assets/horns.png">
    <button id='see_favorites'>View Your BandHub Corral</button>
    <div class="pageslide_links">
      <p class="stc">Sort the Corral:</p>
      <ul id="sort_by" >
        <li><a href="#data-name">By name</a></li>  <!-- for the sorting fn in isotopeCalls.js -->
        <li><a href="#data-date">By date added</a></li>
      </ul>
    </div>

    <div class="refresh_button_div">
      <button class="refresh">Refresh your feed</button>
    </div>

    <div class="api_attributes" style="margin-top: 20px">
      <a href="http://the.echonest.com/"><img class="echonest_link" src="assets/echonest_banner.png"></a>
      <a href="http://www.songkick.com/"><img class="songkick_link" src="assets/songkick_logo.png"></a>
      <hr>
      <div class="bio">
        <p>Site created by</p>
        <p>Nico Crisafulli &copy; 2013</p>
        <a href="https://github.com/panicbus"><i class="fa fa-github-alt fa-lg"></i></a> &nbsp;&nbsp;| &nbsp;&nbsp;
        <a href="https://twitter.com/10TimesOne"><i class="fa fa-twitter fa-lg"></i></a> &nbsp;&nbsp;| &nbsp;&nbsp;
        <a style="color:darkgray" href="mailto:nicocrisafulli@gmail.com?Subject=BandHub%20rocks" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
        <a href="#"><p style="font-size: 18px; margin-top: 8px">About BandHub</p></a>
      </div>
    </div>

    <div class="devise2"> <!-- displayed in sidebar on mobile device media query -->
      <% if user_signed_in? %>
        You're BandHubbing as <strong><%= current_user.username.capitalize %></strong><br>
      Not you? &nbsp;<%= link_to "Logout ", destroy_user_session_path, method: :delete %>
        <% else %>
      <%= link_to "Sign up", new_user_registration_path %> &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Login", new_user_session_path %>
      <%= link_to( image_tag("sign-in-twitter.png"), user_omniauth_authorize_path(:twitter) ) %>
      <% end %>
    </div>
  </div>


  <div id="container" class="container">
 
  <div id='bands_results' class='js-masonry' data-masonry-options='{ 
                        "columnWidth": 200, 
                        "itemSelector": ".list-item" 
                        }'>
    
    <% if current_user %>
      <img class="concert" src="assets/concert.png">
    <% end %>
      <p class="subtitle">All Your Bands, In One Place</p><br>
      <p class="sub-subtitle">To start, search for your favorite band above.</p><br>
    
  </div>

      <%= yield %>

  
  </div>

  <!-- essential JS scripts -->
 
  <script src="assets/jquery.pageslide.min.js"></script>
  <script>
      $(document).ready(function() {
          $(".open, .impatient").pageslide();
      });
  </script>
</body>
</html>
