<!DOCTYPE html>
<html>
<head>
  <title>BandHub</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Krona+One|Numans|Raleway:200' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" type="text/css" href="/assets/jquery.pageslide.css"> -->
  <!-- <link rel="stylesheet" href="/assets/jquery-ui.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="/assets/jquery-ui.js"></script>
  <script src="/assets/masonry.pkgd.min.js"></script> <!-- look at this path to make work -->
  <script src="/assets/masonry.pkgd.js"></script> <!-- look at this path to make work -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48329636-5', 'bandhub.herokuapp.com');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="title">
            Bandhub
          </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form class="input-group search-input-group the-search-bar">
              <input id="search_bands" type="text" class="form-control search_bar" placeholder="Start here: enter your favorite band" autocomplete="off">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
              <span class="input-group-btn">
                <button type="submit" id="bigDaddySearch" class="btn btn-default">Search!</button>
              <div class="its-required"></div>
              </span>
            </form>
          </div><!-- /.col-lg-6 -->

          <div class="col-lg-3 col-md-3 col-sm-6">
            <ul class="nav navbar-nav navbar-right">
              <div class="devise">
                <% if user_signed_in? %>
                  You're BandHubbing as <strong><%= current_user.username.capitalize %></strong><br>
                Not you? &nbsp;<%= link_to "Logout ", destroy_user_session_path, method: :delete %> &nbsp;|&nbsp;
                <%= link_to 'Edit profile', edit_user_registration_path %>
                  <% else %>
                <%= link_to "Sign up", new_user_registration_path %> &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to "Login", new_user_session_path %><br>
                <%= link_to( image_tag("sign-in-twitter.png"), user_omniauth_authorize_path(:twitter) ) %>
                <% end %>
              </div>
            </ul>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- ABOUT MODAL -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- to only show the hamburger to users logged in -->
  <div style="visibility: <%= current_user == nil ? "hidden" : "visible" %>">
    <a class="impatient" href="#secondary"><i id="hamburger" class="fa fa-bars fa-3x"></i></a>
  </div>

  <!-- the sidebar slider -->
  <div id="secondary">
    <img class="horns" title="Close all your open bands in the Corral" src="assets/horns.png">
    <button id='see_favorites' type='submit' class="btn btn-default sb-close">View Your BandHub Corral</button>
    <div class="pageslide_links">
      <p class="stc">Sort the Corral:</p>
      <ul id="sort_by" >
        <li><a href="#data-name">By name</a></li>  <!-- for the sorting fn in sorting.js -->
        <li><a href="#data-date">By date added</a></li>
      </ul>
    </div>

    <div class="api_attributes" style="margin-top: 20px">
      <a href="http://the.echonest.com/"><img class="echonest_link" src="assets/echonest_banner.png"></a>
      <a href="http://www.songkick.com/"><img class="songkick_link" src="assets/songkick_logo.png"></a>
      <hr>
      <div class="bio-snippet">
        <p>Site created by</p>
        <p>Nico Crisafulli &copy; 2015</p>
        <a href="https://github.com/panicbus"><i class="fa fa-github-alt fa-lg"></i></a> &nbsp;&nbsp;| &nbsp;&nbsp;
        <a href="https://twitter.com/10TimesOne"><i class="fa fa-twitter fa-lg"></i></a> &nbsp;&nbsp;| &nbsp;&nbsp;
        <a style="color:darkgray" href="mailto:nicocrisafulli@gmail.com?Subject=BandHub%20rocks" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a>
        <div class="about-link" data-toggle="modal" data-target=".bs-example-modal-lg">About BandHub</div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content about-modal">
          This is the about modal. Write about Band Hub.
        </div>
      </div>
    </div>

    <div class="devise2"> <!-- displayed in sidebar on mobile device media query -->
      <% if user_signed_in? %>
        You're BandHubbing as <strong><%= current_user.username.capitalize %></strong><br>
      Not you? &nbsp;<%= link_to "Logout ", destroy_user_session_path, method: :delete %>
        <% else %>
      <%= link_to "Sign up", new_user_registration_path %> &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Login", new_user_session_path %>
      <%= link_to( image_tag("sign-in-twitter.png"), user_omniauth_authorize_path(:twitter) ) %>
      <% end %>
    </div>
  </div>


  <div id="container" class="container" class="js-masonry"  data-masonry-options='{ "columnWidth": ".list-item", "itemSelector": ".list-item"}'>

    <div id='bands_results'>
      <% if current_user %>
        <img class="concert" src="assets/concert.png">
        <p class="subtitle">All Your Bands, In One Place</p><br>
        <p class="sub-subtitle">To start, search for your favorite band above.</p><br>
      <% end %>
    </div>

    <div class="the-success-msg">
      <!-- Message:  -->
      <p><%= flash[:notice] %></p>
    </div>

    <%= yield %>

    <div id="loading">
      <img class='spinner' src='assets/loading.gif'>
    </div>

  </div> <!-- end of container -->

  <!-- essential JS scripts -->
  <script src="assets/jquery.pageslide.min.js"></script>

  <script>
      $(document).ready(function() {
          $(".impatient").pageslide();
      });


  </script>

  <!-- // MASONRY // -->
  <script>
    $(function(){
      $.fn.imagesLoaded = function( callback ){
      var elems = this.find( 'img' ),
          elems_src = [],
          self = this,
          len = elems.length;

      if ( !elems.length ) {
        callback.call( this );
        return this;
      }

      elems.one('load error', function() {
        if ( --len === 0 ) {
          // Rinse and repeat.
          len = elems.length;
          elems.one( 'load error', function() {
            if ( --len === 0 ) {
              callback.call( self );
            }
          }).each(function() {
            this.src = elems_src.shift();
          });
        }
      }).each(function() {
        elems_src.push( this.src );
        // webkit hack from http://groups.google.com/group/jquery-dev/browse_thread/thread/eee6ab7b2da50e1f
        // data uri bypasses webkit log warning (thx doug jones)
        this.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
      });

      return this;
    };
      var $container = $('#container');
      $container.imagesLoaded(function(){
        $container.masonry({
          gutter: 20,
          columnWidth: '.list-item',
          itemSelector: '.list-item'
        });
      });
    })
  </script>

  <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

</body>
</html>
